:root{

    --font-colour: #e0e0e0;
    --colour1: #080766;
    --colour2: #3218c4;
    --colour3: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    color: var(--font-colour);
    background: rgb(74,0,0);
    background: radial-gradient(circle, rgba(74,0,0,1) 0%, rgba(18,18,18,1) 60%);

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.flagCounter{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 10px;
    border-radius: 0 0 15px 0;
    border-bottom: 2px solid;
    border-right: 2px solid;

    background-color: #232323;
}

.flagCounter p{
    font-weight: 300;
    font-size: 20px;
    padding-right: 5px;
}

.flagCounter img{
    width: 20px;
    margin-right: 5px;
}

.loginDiv{
    border-radius: 15px;
    border: solid 1px white;
    background-color: #121212;

    width: 350px;
    height: 500px;
}

.content{
    border-radius: 10px;

    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content div{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content img{
    width: 100px;
    margin-bottom: 20px;
}

.content h2{
    font-weight: 900;
}

.content p{
    font-weight: 300;
    opacity: .8;
}

.content span{
    color: #ff0000;
}

.content input{
    width: 100%;
    height: 30px;
    
    border: none;
    border-radius: 5px;
    padding: 0 10px;

    background-color: var(--colour3);
}

.content input:focus{
    outline: none;
}

.content input:disabled{
    color: #121212;
}

.content button{
    width: 100%;
    height: 35px;

    border: none;
    border-radius: 5px;

    font-weight: 600;

    color: #ff0000;
    background-color: var(--colour3);
}

.content button:hover{
    transition: 0.2s;
    color: white;
    background-color: #ff0000;
}

.content button:active{
    transition: 0.1s;
    color: white;
    background-color: #770000;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.questions h1{
    text-align: center;
    margin-bottom: 10px;
}

.questions input{
    width: 100%;
    height: 30px;
    
    border: none;
    border-radius: 5px;
    padding: 0 10px;

    background-color: var(--colour3);
}

.questions button{
    width: 100%;
    height: 35px;
    margin-top: 19px;
    border: none;
    border-radius: 5px;

    font-weight: 600;

    color: #ff0000;
    background-color: var(--colour3);
}

.questions button:hover{
    transition: 0.2s;
    color: white;
    background-color: #ff0000;
}

.questions button:active{
    transition: 0.1s;
    color: white;
    background-color: #770000;
}